<div class="metro-wrapper">
  <h3 class="text-center mb-4">🚇 Metro Route Finder</h3>

  <app-transport-tab-bar
    [activeTab]="activeTab"
    (activeTabChange)="activeTab = $event"
  ></app-transport-tab-bar>

  <!-- Search Destination Tab -->
  <div *ngIf="activeTab === 'search' && stations.length > 0">
         <!-- Show history before route -->
  <app-metro-search-history
   *ngIf="showHistory"
    [city]="selectedCity"
    [history]="searchHistory"
    (onSearchSelected)="onHistorySelected($event)"
  ></app-metro-search-history>
    <app-station-input
      [stations]="stations"
      [start]="startStation"
      [end]="endStation"
      (startChange)="startStation = $event"
      (endChange)="endStation = $event"
    ></app-station-input>

    <button class="btn find-btn" (click)="onFindRoute()">Find Route</button>


    <div *ngIf="loadSearchResult">
        <h5 class="route-title">🧭 Route Options</h5>
        <div class="route-card">
          <app-metro-station-search-route-result
            [routeSegments]="routeSegments"
            [errorMessages]="errorMessages">
          </app-metro-station-search-route-result>
        </div>
    </div>
  </div>

  <!-- By Station Tab -->
  <div *ngIf="activeTab === 'station'">
    <!-- <p class="text-muted text-center">We're working on station-wise browsing.</p> -->
      <app-by-station  [stations]="stations"></app-by-station>
  </div>

  <!-- Fare Tab -->
  <div *ngIf="activeTab === 'help'">
    <p class="text-muted text-center">Fare calculation coming soon.</p>
  </div>

  <!-- Unsupported city message -->
  <div *ngIf="stations.length === 0">
    <p class="text-muted text-center">
      We're working on metro support for {{ selectedCity | titlecase }}.
    </p>
  </div>
</div>
