<div *ngIf="city">
  <h2>Travel in {{ city.name }}</h2>

  <div class="card-container">
  <app-transport-card
    *ngFor="let mode of city.transports"
    [mode]="mode"
    (click)="selectMode(mode)"
  ></app-transport-card>
</div>
</div>
    <!-- Metro Component integration -->
<app-metro *ngIf="city.transports?.includes('metro')" [cityName]="city.name"></app-metro>
    <ng-template #noTransport>
      <div class="no-transport">We're working on transport options for {{ city.name }}!</div>
    </ng-template>
  
